/*
 * 購入済み一覧画面
 */
/* 所持リストでのチェックマーク */
.fuka__done {
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://p.dmm.co.jp/p/dc/mylibrary/ico.png) no-repeat scroll 5px -597px;
  width: 20px;
  height: 20px;
}

/*
 * お気に入りリスト画面
 */
/* お気に入り一覧登録済み表示チェックボックス背景色 */
#main-bmk .checkarea.fuka__in-list {
  background-color: aquamarine;
}

/*
 * 商品詳細画面
 */
.fuka__detail_remove-hover {
  cursor: default !important;
}

.fuka__detail_remove-hover:hover {
  opacity: 1 !important;
}

/*
 * 商品一覧画面
 */
/* 購入済みボタンをグレーに変更 */
/* 非活性デザインは元のスタイルを利用する */
.fuka__list_purchased-btn {
  background-color: #d9d9d9 !important;
}

/* 購入ボタンからアイコンを削除 */
.fuka__list_purchased-btn>.component-textButton__icon--left {
  display: none !important;
}

/*
 * 検索一覧画面
 */
/*
 * ランキング画面
 */
/* 購入ボタンからbefore要素（アイコン）を削除 */
.fuka__remove-before::before {
  display: none !important;
}

/* 購入済みボタンのデザインをブックマークと同じようなデザインに変更 */
.fuka__purchased-btn {
  border: solid 1px #d9d9d9 !important;
  background: linear-gradient(180deg, #fff 0%, #e6e6e6 100%) !important;
  opacity: 0.7 !important;
  cursor: default;
}


/*
 * まとめ買い画面
 */
/* 購入済みボタン */
.fuka__select-item_disabled-btn {
  appearance: none;
  background: url(//p.dmm.com/p/common/bt/bg_bt.gif) 0px center no-repeat rgb(210, 210, 210);
  border-color: rgb(187, 187, 187) rgb(153, 153, 153) rgb(136, 136, 136);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1em;
  text-align: center;
  font-weight: bold;
  color: rgb(51, 51, 51);
  list-style: none;
  opacity: 0.7;
}